@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #75fbbc;
  --primary-600: #91ffcb;
  --content: #fff;
  --stroke: #1e3a3e;
  --secondary: #00e000;
  --accent: #75fbbc;
  --neutral: #00201e;
  --base-100: #f67bb6;
  --info: #67e8f9;
  --success: #4ade80;
  --warning: #ffa022;
  --error: #ef4444;
}

.victormono {
  font-family: "Victor Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply victormono;
  font-weight: 700;
}

.has-large-font-size {
  @apply py-2;
}

@font-face {
  font-family: "Lazenby Computer";
  src: local("Lazenby Computer Smooth"), local("LazenbyComputer-Smooth"),
    url("./src/LazenbyComputer-Smooth.woff2") format("woff2"),
    url("./src/LazenbyComputer-Smooth.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply text-white victormono;
  font-size: 1rem;
}

footer a.link {
  color: var(--primary);
}

footer a.link:hover {
  color: var(--primary-800);
}

button,
input[type="submit"] {
  @apply text-black victormono font-bold py-2 px-6 mx-2 rounded-xl;
  border: 1px solid var(--stroke);
  box-shadow: -3px 4px 0 0 var(--stroke);
  color: var(--stroke);
  text-transform: uppercase;
}

.computerfont {
  font-family: "Lazenby Computer", sans-serif;
}

nav .menu-item > a {
  @apply text-2xl computerfont px-4 py-2 text-kaiju-primary;
  letter-spacing: 0.07rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke);
  text-shadow: -2.3px 1.7px 0 var(--stroke);
}

#jap-menu {
  @apply text-4xl computerfont px-4 py-2 text-kaiju-primary computerfont;
  letter-spacing: 0.07rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke);
  text-shadow: -2.3px 1.7px 0 var(--stroke);
}

nav .menu-item > a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 1px 0 0 var(--stroke), 0 1px 0 var(--stroke),
    -1px 0 0 var(--stroke), 0 -1px 0 var(--stroke);
}
nav .menu-item::hover {
  @apply text-[--primary-600];
}

nav .menu-item > a:active,
nav .menu-item > a:focus {
  text-decoration: underline;
  @apply text-[--primary-600];
}

.menu-item > a {
}

.hero-secondary {
  @apply btn-outline;
  background-color: var(--base-100);
  border: 1px solid var(--stroke);
  box-shadow: -3px 4px 0 0 var(--stroke);
  text-transform: uppercase;
}

.hero-secondary:hover {
  background-color: var(--stroke);
  color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: -3px 4px 0 0 var(--primary);
}

button.primary {
  @apply bg-primary;
}
button.primary:hover {
  @apply bg-[--primary-600];
}

.gridbg {
  background-image: url("./src/grid.svg");
}
.dustbg {
  background-image: url("./src/dust.svg");
}
.hero {
  max-height: 100vh;
  min-height: 66vh;
}

.container {
  @apply mx-auto;
  max-width: 1160px;
}
footer nav,
footer footer {
}

.fullfull {
  @apply bg-base-200;
  margin-left: calc(-50vw + 50%); /* Adjust the left margin */
  margin-right: calc(-50vw + 50%); /* Adjust the right margin */
  width: 100vw; /* Full viewport width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.wpcf7-text,
.wpcf7-textarea,
.wpcf7-date,
.wpcf7-select {
  @apply w-full p-2 rounded-lg;
  color: var(--stroke);
}
form p label {
  @apply text-xs font-bold uppercase;
}
.wpcf7-submit {
  @apply bg-primary text-white;
}
.wpcf7-submit:hover {
  @apply bg-[--primary-600] cursor-pointer;
}
iframe {
  @apply w-full rounded-lg;
}
form p {
  @apply mb-6;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

div.wp-block-image, 
.wp-block-image > figure {
  max-width: 95% !important;
  height: auto;
  margin: 0 auto;
}

.wp-block-image figure img {
  @apply aligncenter;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.wp-block-image figure img {
  @apply aligncenter;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.has-medium-font-size {
  padding: 1rem 0;
}
.desktop-footer .menu-item {
  @apply text-kaiju-primary link-hover hover:text-white py-1;
}
footer {
  @apply p-6 md:p-4;
}
.wpcf7 {
  @apply w-full;
}

#cbanner {
  display: none;
}

#mobile-menu-2 {
  background-image: url("./src/menuzilla.png");
  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 90%;
}

.badge {
  @apply bg-primary hover:bg-[--primary-600] font-bold text-[--stroke] text-xs lowercase m-1 px-2.5 py-0.5 rounded border border-[--stroke];
}

figcaption.wp-element-caption {
  @apply text-center text-xs bg-base-200 p-2;
  margin-top: -0.2rem;
}